body {
	font-family:Calibri,Arial,sans-serif;
	color:#000;
	background-color:#caa;
	text-align:center;
}
.gameboard {
	background-color:#eee;
	overflow:visible;
	border-radius:1em;
	border:1px solid #ddd;
	padding:1px;
	box-shadow:inset #fff 0 3px 0, inset rgba(0,0,0,0.03) 0 -3px 0;
}
@media print, screen and (max-width: 480px) {
	body {
		margin:0;
	}
}
@media print, screen and (min-width: 35em) {
	body {
		font-size:175%;
	}
	.gameboard {
		padding:1em;
	}
}
@media print, screen and (min-width: 670px) {
	body {
		background-image:url('http://dl.dropboxusercontent.com/u/26353384/Language%20sound%20files/flags.png');
	}
	.gameboard {
		width:595px;
		margin:0 auto;
	}
}

.green {
	color:#060;
}
.red {
	color:#600;
}

.scoreboard {
	margin:0.6em;
	padding:0.4em;
	color:#fff;
	font-family:Verdana,Arial,sans-serif;
	-moz-box-shadow:0 0 10px #303030;
	-webkit-box-shadow:0 0 10px #303030;
	-o-box-shadow:0 0 10px #303030;
	box-shadow:0 0 10px #303030;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF696969', endColorstr='#FF252525');
	background:#252525;
	border-radius:15px;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(95%, #363636), color-stop(97%, #313131), color-stop(100%, #252525));
	background-image:-webkit-linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%);
	background-image:-moz-linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%);
	background-image:-o-linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%);
	background-image:linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%)
}
.scoreboard span {
	display:inline-block;
}
.spacer {
	width:10%;
}
#score {
	font-weight:bold;
} 

.midpanel {
	padding:0.4em;
	height:2.5em;
}
.midpanel span {
	display:inline-block;
	vertical-align:top;
	xheight:2.5em;
}
#error {
	opacity:0;
	text-align:center;
	width:80%;
}
#timer {
	width:15%;
	text-align:right;
	color:#666;
}

button {
	-moz-box-shadow:inset 0 1px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 0 1px 0 0 #bbdaf7;
	box-shadow:inset 0 1px 0 0 #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-webkit-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	background:-moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	color:#ffffff;
	font-family:"Trebuchet MS",Arial,sans-serif;
	font-size:0.85em;
	font-weight:bold;
	min-height:5em;
	width:45%;
	text-decoration:none;
	text-shadow:1px 1px 0 #528ecc;
}

#results {
	width:100%;
	height:10em;
}

.fb_share_button {
	color:#fff;
	border-color:#295582;
	background:#3b5998;
	text-decoration:none;
}
