body {
	font-family:Calibri,sans-serif;
	color:#000;
	background-color:#bbb;
	text-align:center;
}
.game {
	background-color:#eee;
	border-radius:1em;
	padding:0.2em;
}
@media print, screen and (max-width: 480px) {
	body {
		margin:0;
	}
}
@media print, screen and (min-width: 36em) {
	body {
		font-size:175%;
	}
	.game {
		padding:1em;
	}
}
@media print, screen and (min-width: 670px) {
	body {
		background-image:url('http://dl.dropboxusercontent.com/u/26353384/Language%20sound%20files/flags.png');
	}
	.game {
		width:595px;
		margin:0 auto;
		-webkit-box-shadow:0 0 4em #36c;
		-moz-box-shadow:0 0 4em #36c;
		-o-box-shadow:0 0 4em #336c;
		box-shadow:0 0 4em #36c;
	}
}

.playing, .gameover {
	display:none;
}
.play .playing,
.over .gameover {
	display:block;
}

.green {
	color:#050;
}
.red {
	color:#600;
}

.scoreboard {
	margin:0.4em;
	padding:0.4em;
	color:#fff;
	font-family:Verdana,sans-serif;
	border-radius:15px;
	background:#252525;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF696969', endColorstr='#FF252525');
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(95%, #363636), color-stop(97%, #313131), color-stop(100%, #252525));
	background-image:-webkit-linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%);
	background-image:-moz-linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%);
	background-image:-o-linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%);
	background-image:linear-gradient(top, #696969 0%,#363636 95%,#313131 97%,#252525 100%)
}
.scoreboard span {
	display:inline-block;
}
.spacer {
	width:10%;
}
#score {
	font-weight:bold;
} 

.midpanel {
	padding:0.4em;
	height:2.5em;
}
.midpanel span {
	display:inline-block;
	vertical-align:top;
}
#error {
	text-align:center;
	width:80%;
	opacity:0;
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
#timer {
	width:15%;
	text-align:right;
	color:#666;
}

button {
	-moz-box-shadow:inset 0 1px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 0 1px 0 0 #bbdaf7;
	box-shadow:inset 0 1px 0 0 #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-webkit-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	background:-moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	color:#ffffff;
	font-family:"Trebuchet MS",sans-serif;
	font-size:0.85em;
	font-weight:bold;
	min-height:5em;
	width:45%;
	text-decoration:none;
	text-shadow:1px 1px 0 #528ecc;
}

#results {
	height:9em;
}

.fb_share_button {
	color:#fff;
	border-color:#295582;
	background:#3b5998;
	text-decoration:none;
}
